<header>
  <!-- Desctop-Tablet-Container -->
  <div class="header-container">
    <!-- Logo -->
    <a href="./index.html" class="header-logo-link">
      <svg class="header-logo" width="24" height="24">
        <use href="./img/sprite.svg#icon-logo-1"></use>
      </svg>
      Bookshelf
    </a>

    <!-- Navigation -->
    <nav class="navigation">
      <ul class="site-nav">
        <li class="site-nav__item_active">
          <a href="./index.html" class="site-nav__link_active">Home</a>
        </li>
        <li class="site-nav__item">
          <a href="./shopping-list-books.html" class="site-nav__link"
            >Shopping list<svg class="site-nav__logo" width="20" height="20">
              <use href="./img/sprite.svg#icon-shopping-bag"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <!-- Toggle-Theme -->
    <label class="toggle-theme common-toggle">
      <input type="checkbox" />
      <span class="check"></span>
    </label>

    <button type="button" class="burger-menu">
      <svg
        class="burger-menu_icon"
        width="28"
        height="28"
        viewBox="0 0 28 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19.8333 11.6667H3.5"
          stroke="#111111"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M24.5 7H3.5"
          stroke="#111111"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M24.5 16.3333H3.5"
          stroke="#111111"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M19.8333 21H3.5"
          stroke="#111111"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <!-- <svg class="burger-menu_icon" width="28" height="28">
        <use href="./img/sprite.svg#icon-align-left"></use>
      </svg> -->
    </button>
  </div>

  <!-- Mobile-Container -->
  <!-- Menu -->
  <div class="mobile-menu-container">
    <div class="burger-container">
      <div class="mobile-menu__header">
        <a href="/index.html" class="header-logo-link">
          <svg class="header-logo" width="24" height="24">
            <use href="./img/sprite.svg#icon-logo-1"></use>
          </svg>
          Bookshelf
        </a>

        <!-- Toggle-Theme-Mobile -->
        <label class="toggle-theme common-toggle">
          <input type="checkbox" />
          <span class="check"></span>
        </label>

        <!-- Button-Menu -->
        <button type="button" class="mobile-menu__button">
          <svg
            class="mobile-menu__icon"
            width="28"
            height="28"
            viewBox="0 0 28 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21 7L7 21M7 7L21 21"
              stroke="#111111"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <!-- <svg class="mobile-menu__icon" width="28" height="28">
            <use href="../img/sprite.svg#icon-x-close-black"></use>
          </svg> -->
        </button>
      </div>

      <!-- Navigation-Mobile -->
      <nav class="navigation-burger">
        <ul class="site-nav-burger">
          <li class="site-nav__item_active">
            <a href="./index.html" class="site-nav__link_active">HOME</a>
          </li>
          <li class="site-nav__item">
            <a href="./shopping-list-books.html" class="site-nav__link"
              >SHOPPING LIST<svg class="site-nav__logo" width="20" height="20">
                <use href="./img/sprite.svg#icon-shopping-bag"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
