<section class="list-books">
  <div class="container">
    <div class="categories-box">
      <ul class="categories-list">
        <li class="categories-itm js-categories-current">All categories</li>
        <!-- <li class="categories-itm">Combined Print and E-Book Nonfiction</li>
        <li class="categories-itm">Trade Fiction Paperback</li>
        <li class="categories-itm">Middle Grade Paperback Monthly</li>
        <li class="categories-itm">Audio Fiction</li>
        <li class="categories-itm">Hardcover Fiction</li>
        <li class="categories-itm">Combined Print and E-Book Fiction</li>
        <li class="categories-itm">Mass Market Monthly</li>
        <li class="categories-itm">Trade Fiction Paperback</li>
        <li class="categories-itm">Middle Grade Paperback Monthly</li>
        <li class="categories-itm">Audio Fiction</li>
        <li class="categories-itm">Hardcover Fiction</li>
        <li class="categories-itm">Combined Print and E-Book Fiction</li>
        <li class="categories-itm">Mass Market Monthly</li> -->
      </ul>
    </div>
    <div class="books-box">
      <!-- <h2 class="books-box-title">
        Best Sellers <span class="books-title-span">Books</span>
      </h2>

      <div class="books-box-holder">
        <h3 class="books-box-subtitle">Advice How-To and Miscellaneous</h3>
        <ul class="books-box-list">
          <li class="books-box-itm" id="">
            <div class="books-box-wrap">
              <img
                class="books-img"
                src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
                alt=""
              />
              <div class="books-overlay">
                <p class="books-overlay-text">quick view</p>
              </div>
            </div>
            <div class="books-box-desc">
              <p class="books-box-desc-title">ATOMIC HABITS</p>
              <p class="books-box-desc-author">James Clear</p>
            </div>
          </li>
          <li class="books-box-itm" id="">
            <div class="books-box-wrap">
              <img
                class="books-img"
                src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
                alt=""
              />
              <div class="books-overlay">
                <p class="books-overlay-text">quick view</p>
              </div>
            </div>
            <div class="books-box-desc">
              <p class="books-box-desc-title">ATOMIC HABITS</p>
              <p class="books-box-desc-author">James Clear</p>
            </div>
          </li>
          <li class="books-box-itm" id="">
            <div class="books-box-wrap">
              <img
                class="books-img"
                src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
                alt=""
              />
              <div class="books-overlay">
                <p class="books-overlay-text">quick view</p>
              </div>
            </div>
            <div class="books-box-desc">
              <p class="books-box-desc-title">ATOMIC HABITS</p>
              <p class="books-box-desc-author">James Clear</p>
            </div>
          </li>
          <li class="books-box-itm" id="">
            <div class="books-box-wrap">
              <img
                class="books-img"
                src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
                alt=""
              />
              <div class="books-overlay">
                <p class="books-overlay-text">quick view</p>
              </div>
            </div>
            <div class="books-box-desc">
              <p class="books-box-desc-title">ATOMIC HABITS</p>
              <p class="books-box-desc-author">James Clear</p>
            </div>
          </li>
          <li class="books-box-itm" id="">
            <div class="books-box-wrap">
              <img
                class="books-img"
                src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
                alt=""
              />
              <div class="books-overlay">
                <p class="books-overlay-text">quick view</p>
              </div>
            </div>
            <div class="books-box-desc">
              <p class="books-box-desc-title">ATOMIC HABITS</p>
              <p class="books-box-desc-author">James Clear</p>
            </div>
          </li>
        </ul>
        <button class="books-btn-see-more" type="button">see more</button>
      </div>
      <div class="books-box-holder">
        <h3 class="books-box-subtitle">Advice How-To and Miscellaneous</h3>
        <ul class="books-box-list">
          <li class="books-box-itm" id="">
            <div class="books-box-wrap">
              <img
                class="books-img"
                src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
                alt=""
              />
              <div class="books-overlay">
                <p class="books-overlay-text">quick view</p>
              </div>
            </div>
            <div class="books-box-desc">
              <p class="books-box-desc-title">ATOMIC HABITS</p>
              <p class="books-box-desc-author">James Clear</p>
            </div>
          </li>
          <li class="books-box-itm" id="">
            <div class="books-box-wrap">
              <img
                class="books-img"
                src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
                alt=""
              />
              <div class="books-overlay">
                <p class="books-overlay-text">quick view</p>
              </div>
            </div>
            <div class="books-box-desc">
              <p class="books-box-desc-title">ATOMIC HABITS</p>
              <p class="books-box-desc-author">James Clear</p>
            </div>
          </li>
          <li class="books-box-itm" id="">
            <div class="books-box-wrap">
              <img
                class="books-img"
                src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
                alt=""
              />
              <div class="books-overlay">
                <p class="books-overlay-text">quick view</p>
              </div>
            </div>
            <div class="books-box-desc">
              <p class="books-box-desc-title">ATOMIC HABITS</p>
              <p class="books-box-desc-author">James Clear</p>
            </div>
          </li>
          <li class="books-box-itm" id="">
            <div class="books-box-wrap">
              <img
                class="books-img"
                src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
                alt=""
              />
              <div class="books-overlay">
                <p class="books-overlay-text">quick view</p>
              </div>
            </div>
            <div class="books-box-desc">
              <p class="books-box-desc-title">ATOMIC HABITS</p>
              <p class="books-box-desc-author">James Clear</p>
            </div>
          </li>
          <li class="books-box-itm" id="">
            <div class="books-box-wrap">
              <img
                class="books-img"
                src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
                alt=""
              />
              <div class="books-overlay">
                <p class="books-overlay-text">quick view</p>
              </div>
            </div>
            <div class="books-box-desc">
              <p class="books-box-desc-title">ATOMIC HABITS</p>
              <p class="books-box-desc-author">James Clear</p>
            </div>
          </li>
        </ul>
        <button class="books-btn-see-more" type="button">see more</button>
      </div>

      <div class="books-category-box visually-hidden">
        <ul class="books-category-list">
          <li class="books-category-item">
            <div class="books-box-wrap">
              <img
                class="books-img"
                src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
                alt=""
              />
              <div class="books-overlay">
                <p class="books-overlay-text">quick view</p>
              </div>
            </div>
            <div class="books-box-desc">
              <p class="books-box-desc-title">ATOMIC HABITS</p>
              <p class="books-box-desc-author">James Clear</p>
            </div>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</section>
