<section class="list-books">
  <div class="container-list-books">
    <div class="list-books-box">
      <div class="categories-box">
        <ul class="categories-list">
          <li class="categories-itm js-categories-current">
            <a href="#" data-categoryname="all categories">All categories</a>
          </li>
        </ul>
      </div>
      <load src="./support.html" />
    </div>
    <div class="books-box"></div>
    <div class="top-btn">
      <svg class="top-btn-svg" width="20" height="22">
        <use href="./img/sprite.svg#icon-up"></use>
      </svg>
    </div>
  </div>
</section>
