<section class="container shoplist-container">
  <!--пример support -->
  <div class="suppurt-box"></div>
  <!-- -->
  <div class="shopping-list">
    <h1 class="shopping-list-title-books">
      Shopping <span class="shopping-list-title-span-books">List</span>
    </h1>

    <div class="shopinglist-cart">
      <ul class="shoppinglist-list">
        <li class="shoppinglist-book">
          <img
            class="shoppinglist-book-image"
            src="https://storage.googleapis.com/du-prd/books/images/9780385547345.jpg"
            alt="book image"
            width="100"
            height="142"
          />

          <div class="shoppinglist-cart-content">
            <h3 class="shoppinglist-book-title">Lesson in chemistry</h3>
            <p class="shoppinglist-book-category">Audio Fiction</p>
            <p class="shoppinglist-book-description">
              A scientist and single mother living in California in the 1960s
              becomes a star on a TV cooking show.
            </p>

            <div class="shoppinglist-low-div">
              <p class="shoppinglist-book-author">Bonnie Garmus</p>
              <ul class="shoppinglist-book-low-ul">
                <li class="shoppinglist-book-low-li-amazon">
                  <a
                    class="shopping-amazon-link"
                    href="https://www.amazon.com/dp/038554734X?tag=NYTBSREV-20"
                    target="_blank"
                  >
                    <img
                      class="shopping-listamazon-img"
                      srcset="
                        ./img/shopping-list/amazon-tabl-desk-1x.png 1x,
                        ./img/shopping-list/amazon-tabl-desk-2x.png 2x
                      "
                      src="./img/shopping-list/amazon-mob-1x.png"
                      alt="logoAmazon"
                      width="32"
                      height="11"
                    />
                  </a>
                </li>
                <li class="shoppinglist-book-low-li-apple">
                  <a
                    class="shopping-apple-link"
                    href="https://goto.applebooks.apple/9780593507537?at=10lIEQ"
                    target="_blank"
                  >
                    <img
                      class="shopping-apple-img"
                      srcset="
                        ./img/shopping-list/apple-books-tabl-desk-1x.png 1x,
                        ./img/shopping-list/apple-books-tabl-desk-2x.png 2x
                      "
                      src="./img/shopping-list/apple-books-mob-1x.png"
                      alt="logo Apple books"
                      width="16"
                      height="16"
                    />
                  </a>
                </li>
              </ul>
            </div>
            <button type="button" class="shoppinglist-book-deletebutton">
              <svg class="shoppinglist-btn-svg" width="18" height="18">
                <use href="./img/sprite.svg#icon-trash_bin"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="shoppinglist-book">
          <img
            class="shoppinglist-book-image"
            src="https://storage.googleapis.com/du-prd/books/images/9780385547345.jpg"
            alt="book image"
            width="100"
            height="142"
          />

          <div class="shoppinglist-cart-content">
            <h3 class="shoppinglist-book-title">Lesson in chemistry</h3>
            <p class="shoppinglist-book-category">Audio Fiction</p>
            <p class="shoppinglist-book-description">
              A scientist and single mother living in California in the 1960s
              becomes a star on a TV cooking show.
            </p>

            <div class="shoppinglist-low-div">
              <p class="shoppinglist-book-author">Bonnie Garmus</p>
              <ul class="shoppinglist-book-low-ul">
                <li class="shoppinglist-book-low-li-amazon">
                  <a
                    class="shopping-amazon-link"
                    href="https://www.amazon.com/dp/038554734X?tag=NYTBSREV-20"
                    target="_blank"
                  >
                    <img
                      class="shopping-listamazon-img"
                      srcset="
                        ./img/shopping-list/amazon-tabl-desk-1x.png 1x,
                        ./img/shopping-list/amazon-tabl-desk-2x.png 2x
                      "
                      src="./img/shopping-list/amazon-mob-1x.png"
                      alt="logoAmazon"
                      width="32"
                      height="11"
                    />
                  </a>
                </li>
                <li class="shoppinglist-book-low-li-apple">
                  <a
                    class="shopping-apple-link"
                    href="https://goto.applebooks.apple/9780593507537?at=10lIEQ"
                    target="_blank"
                  >
                    <img
                      class="shopping-apple-img"
                      srcset="
                        ./img/shopping-list/apple-books-tabl-desk-1x.png 1x,
                        ./img/shopping-list/apple-books-tabl-desk-2x.png 2x
                      "
                      src="./img/shopping-list/apple-books-mob-1x.png"
                      alt="logo Apple books"
                      width="16"
                      height="16"
                    />
                  </a>
                </li>
              </ul>
            </div>
            <button type="button" class="shoppinglist-book-deletebutton">
              <svg class="shoppinglist-btn-svg" width="18" height="18">
                <use href="./img/sprite.svg#icon-trash_bin"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="shoppinglist-book">
          <img
            class="shoppinglist-book-image"
            src="https://storage.googleapis.com/du-prd/books/images/9780385547345.jpg"
            alt="book image"
            width="100"
            height="142"
          />

          <div class="shoppinglist-cart-content">
            <h3 class="shoppinglist-book-title">Lesson in chemistry</h3>
            <p class="shoppinglist-book-category">Audio Fiction</p>
            <p class="shoppinglist-book-description">
              A scientist and single mother living in California in the 1960s
              becomes a star on a TV cooking show.
            </p>

            <div class="shoppinglist-low-div">
              <p class="shoppinglist-book-author">Bonnie Garmus</p>
              <ul class="shoppinglist-book-low-ul">
                <li class="shoppinglist-book-low-li-amazon">
                  <a
                    class="shopping-amazon-link"
                    href="https://www.amazon.com/dp/038554734X?tag=NYTBSREV-20"
                    target="_blank"
                  >
                    <img
                      class="shopping-listamazon-img"
                      srcset="
                        ./img/shopping-list/amazon-tabl-desk-1x.png 1x,
                        ./img/shopping-list/amazon-tabl-desk-2x.png 2x
                      "
                      src="./img/shopping-list/amazon-mob-1x.png"
                      alt="logoAmazon"
                      width="32"
                      height="11"
                    />
                  </a>
                </li>
                <li class="shoppinglist-book-low-li-apple">
                  <a
                    class="shopping-apple-link"
                    href="https://goto.applebooks.apple/9780593507537?at=10lIEQ"
                    target="_blank"
                  >
                    <img
                      class="shopping-apple-img"
                      srcset="
                        ./img/shopping-list/apple-books-tabl-desk-1x.png 1x,
                        ./img/shopping-list/apple-books-tabl-desk-2x.png 2x
                      "
                      src="./img/shopping-list/apple-books-mob-1x.png"
                      alt="logo Apple books"
                      width="16"
                      height="16"
                    />
                  </a>
                </li>
              </ul>
            </div>
            <button type="button" class="shoppinglist-book-deletebutton">
              <svg class="shoppinglist-btn-svg" width="18" height="18">
                <use href="./img/sprite.svg#icon-trash_bin"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Shoping-list empty -->
<section class="container shopping-list-container">
  <div class="shopping-list">
    <h1 class="shopping-list-title">
      Shopping <span class="shopping-list-title-span">List</span>
    </h1>
    <p class="shopping-list-text">
      This page is empty, add some books and proceed to order.
    </p>
    <img
      srcset="
        ./img/shopping-list/empy-books-tab-desk-1x.png 1x,
        ./img/shopping-list/empy-books-tab-desk-2x.png 2x
      "
      class="shopping-list-img"
      src="./img/shopping-list/empty-books-mob.png"
      alt="a lot of books"
    />
  </div>
</section>
