<!-- ـ<section shopping-list>
    <ul>
      <li class="shoppinglist-book">
        <img
          class="shoppinglist-book-image"
          src="https://storage.googleapis.com/du-prd/books/images/9780385547345.jpg"
          alt="book image"
        />
        <div class="shoppinglist-total-div">
          <div class="shoppinglist-tb-div">
            <div class="shoppinglist-titcat-div">
              <h3 class="shoppinglist-book-title">LESSONS IN CHEMISTRY</h3>
              <p class="shoppinglist-book-category">Audio Fiction</p>
            </div>

            <button
              type="button"
              class="shoppinglist-book-deletebutton"
            ></button>
          </div>

          <div class="shoppinglist-desauthorlink">
            <p class="shoppinglist-book-description">
              A scientist and single mother living in California in the 1960s
              becomes a star on a TV cooking show.
            </p>

            <div class="shoppinglist-low-div">
              <p class="shoppinglist-book-author">Bonnie Garmus</p>
              <ul class="shoppinglist-book-low-ul">
                <li class="shoppinglist-book-low-li-amazon">
                  <a
                    class="shopping-amazon-link"
                    href="https://www.amazon.com/dp/038554734X?tag=NYTBSREV-20"
                    target="_blank"
                  >
                    <img
                      class="shopping-listamazon-img"
                      src="./img/amazon.png"
                      alt="logoAmazon"
                    />
                  </a>
                </li>
                <li class="shoppinglist-book-low-li-apple">
                  <a
                    class="shopping-apple-link"
                    href="https://goto.applebooks.apple/9780593507537?at=10lIEQ"
                    target="_blank"
                  >
                    <img
                      class="shopping-apple-img"
                      src="./img/apple.png"
                      alt="logo Apple books"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section> -->

  <!-- ============================================================ -->

  <div class="container shopping-list-container">
    <section class="shopping-list">
      <h1 class="shopping-list-title">
        Shopping <span class="shopping-list-title-span">List</span>
      </h1>


      <!-- need code support Ukraine --> 


      <p class="shopping-list-text">
        This page is empty, add some books and proceed to order.
      </p>
          <img
            srcset="./img/shopping-list/books-1x-tablet-decstop.png 1x, 
            ./img/shopping-list/books-2x-tablet-decstop.png 2x,"
            class="shopping-list-img"
            src="./img/shopping-list/books-1x-mob.png"
            alt="a lot of books"
          />
    </section>
  </div>