body {
  font-family: 'DM Sans', sans-serif;
}
.active {
  opacity: 1;
  visibility: visible;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(224, 224, 224, 1);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156, 156, 156);
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.books-box-itm {
  display: none;
}

/* =========================MOBILE ===========================*/

@media sreen and (min-width: 375px) {
}
.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  margin: 0 auto;
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: 8px;
  height: 228px;
  margin-bottom: 40px;
  width: 335px;
}
.categories-itm {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  cursor: pointer;
}

.js-categories-current {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #4f2ee8;
}

.books-box {
  margin: 0 auto;
}
.books-box-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: -0.04em;
  color: #111;
  margin-bottom: 40px;
}
.books-title-span {
  color: #4f2ee8;
}
.books-box-holder {
  width: 335px;
  margin-bottom: 40px;
}

/* ======another page - category =======*/
.books-category-item {
  width: 335px;
  margin-bottom: 40px;
}

.books-category-item {
  cursor: pointer;
  :hover {
    .books-overlay {
      top: 78%;
    }
  }
}
/* ================================== */
.books-box-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;
  margin-bottom: 18px;
}

.books-box-itm:nth-child(1) {
  display: block;
}

.books-box-itm {
  cursor: pointer;
  :hover {
    .books-overlay {
      top: 78%;
    }
  }
}
.books-box-wrap {
  width: 335px;
  height: 485px;
  border-radius: 8px;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}
.books-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.books-box-wrap .books-overlay {
  position: absolute;
  background-color: #eac645;
  width: 100%;
  height: 23%;

  padding-top: 13%;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  top: 100%;
  left: 0;
}

.books-overlay-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.books-box-desc {
  margin-top: 14px;
}
.books-box-desc-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 4px;
}
.books-box-desc-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #b4afaf;
}
.books-btn-see-more {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111;
  border: 2px solid #4f2ee8;
  background-color: inherit;
  border-radius: 40px;
  width: 124px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.books-btn-see-more:hover,
.books-btn-see-more:focus {
  background-color: #4f2ee8;
  color: #fff;
}

.books-btn-see-more:focus {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.15);
}

/* ==================TABLET================= */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .categories-list {
    gap: 32px;
    height: 472px;
    width: 337px;
    margin-bottom: 100px;
  }

  .categories-itm {
    font-size: 18px;
    line-height: 1.33333;
  }

  .books-box-title {
    font-size: 48px;
    line-height: 1.08333;
  }

  /* another page - category */
  .books-category-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 25px;
    margin-bottom: 40px;
  }

  .books-category-item {
    width: 218px;
    margin-bottom: 0;
  }

  /* ================================== */

  .books-box-holder {
    display: grid;
  }

  .books-box-subtitle {
    line-height: 1.71429;
  }

  .books-box-list {
    display: flex;
    gap: 25px;
  }

  .books-box-itm:nth-child(-n + 3) {
    display: block;
  }

  .books-box-wrap {
    width: 218px;
    height: 316px;
  }

  .books-box-wrap .books-overlay {
    padding-top: 12%;
  }

  .books-btn-see-more {
    margin-top: 20px;
  }
}

/* ====================DESKTOP==================== */

@media screen and (min-width: 1140px) {
  .container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    gap: 40px;
  }

  .categories-list {
    margin-bottom: 86px;
    width: 356px;
  }

  .books-box {
    margin: 0;
    width: 100%;
  }

  /* another page - category */
  .books-category-list {
    row-gap: 40px;
    column-gap: 24px;
    margin-bottom: 40px;
  }

  .books-category-item {
    width: 180px;
  }
  /* ================================== */

  .books-box-holder {
    min-width: 996px;
  }

  .books-box-list {
    gap: 24px;
  }

  .books-box-itm {
    display: block;
  }

  .books-box-wrap {
    width: 180px;
    height: 256px;
  }

  .books-box-wrap .books-overlay {
    padding-top: 11%;
  }

  .books-btn-see-more {
    margin-top: 32px;
  }
}
