body.show-modal {
  overflow: hidden;
}
.hidden {
  display: none;
}
body.show-modal .backdrop {
  display: flex;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000008b;
  display: none;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/*-------------------------Mobile--------------------------*/
@media (min-width: 375px) {
  .modal-w {
    border: 2px solid #000;
    border-radius: 18px;
    width: 336px;
    position: relative;
    background: #fff;
    margin: 70px 15px 30px;
    padding: 40px 25px;
  }
  /* .modal-content {
    width: 287px;
    gap: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
  } */
  .modal-img {
    width: 287px;
    object-fit: contain;
    border-radius: 8px;
  }
  .modal-info {
  }
  .modal-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.04em;
    color: #111;
    text-transform: uppercase;
    margin-top: 14px;
  }
  .modal-author {
    font-family: 'DM Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;
    color: #b4afaf;
    margin-top: 4px;
  }
  .modal-description {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: #111;
    margin-top: 18px;
  }

  .marketplace-list {
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0;
    display: flex;
    margin-top: 14px;
  }

  .marketplace-list-item {
  }
  .modal-buttons {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-top: 44px;
  }
  .modal-button-shopping-list {
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    padding: 14px 28px;
    width: 279px;
    height: 46px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #111;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    display: flex;
    background: #fff;
  }

  .modal-button-shopping-list:hover,
  .modal-button-shopping-list:focus {
    background: #4f2ee8;
    color: #fff;
  }

  .modal-message {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    text-align: center;
    color: rgba(17, 17, 17, 0.5);
    width: 242px;
    margin-top: 8px;
  }

  .modal-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
  }

  .modal-close-btn {
    fill: #111;
    cursor: pointer;
    background-color: #fff;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: inline-flex;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .modal-close-btn:hover {
    fill: #4f2ee8;
  }
}

/*-------------------------Desktop-------------------------*/

@media (min-width: 1440px) {
  .modal-w {
    border: 2px solid #000;
    border-radius: 18px;
    width: 579px;
    height: 501px;
    padding: 40px 40px 40px;
    position: relative;
    background: #fff;
  }

  .modal-close-btn {
    top: 24px;
    right: 24px;
  }
  .modal-content {
    flex-direction: row;
    width: 495px;
    display: flex;
    gap: 24px;
  }
  .modal-img {
    border-radius: 8px;
    width: 192px;
    height: 281px;
  }
  .modal-info {
  }
  .modal-title {
  }
  .modal-author {
  }
  .modal-description {
    width: 279px;
    height: 70px;
  }

  .marketplace-list-item {
  }
  .modal-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
  }
  .modal-button-shopping-list {
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    width: 499px;
    height: 64px;
    margin-top: 0px;
  }
  .modal-message {
    width: 324px;
    height: 18px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 90px;
  }
}
