body.show-modal {
  overflow: hidden;
}

.remove-modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000008b;
  /* display: none; */
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  z-index: 999;
  overflow: hidden;
}

body.show-modal .backdrop {
  display: flex;
}
.modal-icons {
  filter: grayscale(100%);
  align-items: center;
}

.modal-icons:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.amazon-icon {
  width: 62px;
  height: 19px;
}

.close-btn-icon {
  stroke: var(--black-color);
  background-color: var(--body-bg-color);
}

.close-btn-icon:hover {
  stroke: #4f2ee8;
}

.amazon-icon {
  filter: var(--color-icon-amazon);
}
.appbooks-icon {
  filter: var(--color-icon-apple);
}
.appbooks-icon:hover,
.amazon-icon:hover {
  filter: var(--color-icon-am-hov);
}

/*-------------------------Mobile--------------------------*/
@media (min-width: 375px) {
  .modal-w {
    border: 2px solid var(--black-color);
    border-radius: 18px;
    width: 336px;
    position: relative;
    margin: 70px 15px 30px;
    padding: 40px 25px;
    background-color: var(--body-bg-color);
  }

  .modal-img {
    width: 287px;
    object-fit: contain;
    border-radius: 8px;
  }
  .modal-title {
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -0.04em;
    color: var(--black-color);
    text-transform: uppercase;
    margin-top: 14px;
  }
  .modal-author {
    font-style: italic;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;
    color: #b4afaf;
    margin-top: 4px;
  }
  .modal-description {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: var(--black-color);
    margin-top: 18px;
  }

  .marketplace-list {
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0;
    display: flex;
    margin-top: 14px;
  }

  .modal-buttons {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-top: 44px;
  }
  .modal-button-shopping-list {
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    padding: 14px 28px;
    width: 279px;
    height: 46px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--black-color);
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    display: flex;
    background: var(--body-bg-color);
  }

  .modal-button-shopping-list:hover,
  .modal-button-shopping-list:focus {
    background: #4f2ee8;
    color: #fff;
  }

  .modal-message {
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    text-align: center;
    color: var(--disactive-link-color);
    width: 242px;
    margin-top: 8px;
  }

  .modal-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
  }

  .modal-close-btn {
    cursor: pointer;
    background-color: #fff;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: inline-flex;
    position: absolute;
    top: 12px;
    right: 12px;
  }
}

/*--------------Tablet--Desktop-------------------------*/

@media screen and (min-width: 768px) {
  .modal-w {
    border: 2px solid var(--black-color);
    border-radius: 18px;
    width: 579px;
    height: 501px;
    padding: 40px 40px 40px;
    position: relative;
  }

  .modal-close-btn {
    top: 24px;
    right: 24px;
  }
  .modal-content {
    flex-direction: row;
    width: 495px;
    display: flex;
    gap: 24px;
  }
  .modal-img {
    border-radius: 8px;
    width: 192px;
    height: 281px;
  }

  .modal-description {
    width: 279px;
    height: 70px;
  }

  .modal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
  }
  .modal-button-shopping-list {
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    width: 499px;
    height: 64px;
    margin-top: 0px;
  }
  .modal-message {
    width: 324px;
    height: 18px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.hidden {
  display: none;
}
