/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./header.css');
@import url('./list-books.css');
@import url('./loader.css');
@import url('./modal.css');
@import url('./shopping-list.css');
@import url('./support.css');
@import url('./topBtn.css');
@import url('./reset.css');

:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
