.foto-s {
  width: 32px;
  height: 32px;
}
.img-s {
  height: 32px;
}

.container-s {
  margin: 0 auto;
  border-radius: 16px;
  width: 356px;
  height: 474px;
  box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );
}

.title-s {
  padding-top: 24px;
  padding-left: 40px;
  padding-bottom: 40px;
  display: flex;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #fff;
  gap: 14px;
}

.swiper-button-next {
  display: flex;

  fill: #4f2ee8;
  transition: transform 0.5s ease-in-out;
  /* padding: 8px 16px; */
  width: 32px;
  height: 32px;
  /* border-radius: 100%; */
  align-items: center;
  border: none;
  justify-content: center;
  margin: 24px auto;
}
.scroll-button {
  cursor: pointer;
  width: 32px;
  min-height: 32px;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  transition: transform 0.5s ease-in-out;
  display: flex;
  transform: rotateX(0);
}
.swiper-container {
  width: 300px;
  /* height: 292px; */
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  justify-content: center;
  /* padding-left: 40px; */
}
.swiper-slide {
  display: flex;
  /* width: 143px; */
  height: 45px;
  gap: 16px;
  filter: brightness(0) invert(1);
  align-items: center;
}

.swiper-wrapper {
  transition-duration: 0ms;
  overflow-y: auto;
  max-height: 260px;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

.swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.btn-up {
  /* visibility: hidden; */
  transform: rotateX(180deg);
}
