/* Mobile 375px */
.container-s {
  margin: 40px 20px;
  border-radius: 16px;
  width: 335px;
  height: 460px;
  box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .container-s {
    width: 335px;
    height: 474px;
    margin-top: 40px;
    margin-right: 32px;
    margin-left: 32px;
    margin-bottom: 98px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .container-s {
    width: 356px;
    height: 474px;
    margin-top: 86px;
    margin-right: 40px;
    margin-left: 24px;
    margin-bottom: 158px;
  }
}

.title-s {
  padding-top: 24px;
  padding-left: 40px;
  display: flex;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #fff;
  gap: 12px;
}

.img-s {
  height: 32px;
}

.swiper-container {
  width: 300px;
  height: 292px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-slide {
  display: flex;
  height: 45px;
  gap: 16px;
  filter: brightness(0) invert(1);
  align-items: center;
}

.swiper-wrapper {
  flex-direction: column;
  padding-left: 50px;
  transition-duration: 0ms;
  overflow-y: clip;
  max-height: 260px;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.charity-index {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #fff;
}

.btn-s {
  width: 42px;
  height: 42px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: 2px solid rgb(105, 127, 255);
  box-shadow: 0px 0px 10px rgb(105, 127, 255);
  position: relative;
  background-color: #fff;
}

.button-con {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.chevron-down {
  fill: #4f2ee8;
}
