.foto-s {
  width: 32px;
  height: 32px;
}
.img-s {
  height: 32px;
}

.container-s {
  margin: 0 auto;
  border-radius: 16px;
  width: 356px;
  height: 474px;
  box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );
}

.title-s {
  padding-top: 24px;
  padding-left: 40px;
  display: flex;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #fff;
  gap: 14px;
}

.swiper-button-next {
  display: flex;

  fill: #4f2ee8;
  transition: transform 0.5s ease-in-out;
  padding: 8px 16px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  align-items: center;
  border: none;
  justify-content: center;
  margin: 24px auto;
}
.scroll-button {
  cursor: pointer;
  width: 32px;
  min-height: 32px;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  transition: transform 0.5s ease-in-out;
  display: flex;
  transform: rotateX(0);
}
.swiper-container {
  width: 300px;
  height: 292px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.swiper-slide {
  display: flex;
  height: 45px;
  gap: 16px;
  filter: brightness(0) invert(1);
  align-items: center;
}

.swiper-wrapper {
  flex-direction: column;
  padding-left: 50px;
  transition-duration: 0ms;
  overflow-y: clip;
  max-height: 260px;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.charity-index {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #fff;
}

.btn-s {
  width: 42px;
  height: 42px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: 2px solid rgb(105, 127, 255);
  box-shadow: 0px 0px 10px rgb(105, 127, 255);
  position: relative;
  background-color: #7961e3;
}

.icon-s {
  justify-content: center;
  /* transform: rotateX(180deg); */
}

.button-con {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-s {
  transition: transform 0.5s ease-in-out;
}

/* Додайте стиль для кнопки у стані, коли вона розгорнута на 180 градусів */
/* .btn-s.rotated {
  transform: rotate(180deg);
} */
