.top-btn {
  display: none;
  /* Починається зі спрятаного стану */
  position: fixed;
  bottom: 5%;
  right: 2%;
  z-index: 9999;
  padding: 10px;
  cursor: pointer;

  border: 2px solid #eac645;
  background-color: inherit;
  backdrop-filter: blur(3px);
  border-radius: 50px;
  overflow: hidden;

  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 #eac645 inset, 0 0 10px 4px #eac645;
  }
}

.top-btn-svg {
  height: 20px;
  stroke: #111;
}
/* ================dark-theme================== */
.dark .top-btn-svg {
  stroke: #fff;
}
